<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Current Feature Sets</h1>
    <ul class="feature">
    <% for(let i=0; i < info.length; i++) {%>
        <li class="feature">
            <p> <%= info[i].feature1 %> </p> 
            <p> <%= info[i].feature2 %> </p>
            <p> <%= info[i].feature3 %> </p> 
            <span> <%= info[i].likes %>   </span>
            <span class='fa fa-thumbs-up'></span>
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

</body>
</html>
